{% extends './layout.html' %}
{% block title %}{{data.page}}{% endblock %}

{% block body %}

<table id="table">
    
    {% for row in grid %}
    <tr>
        {% for cell in row %}
        <td data-revealed="{{ 1 if cell.revealed else 0 }}" data-flagged="{{ 1 if cell.flag else 0 }}">
            {% if cell.flag %}
                🚩
            {% elif cell.revealed %}
                {% if cell.mine %}
                    💣
                {% elif cell.number > 0 %}
                    {{cell.number}}
                {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<a href="/puntajes"> Ver Top 10</a>
{% endblock %}


